.course-content ul.topics {margin:0;}
.course-content ul.topics li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.topics li.section .content {margin:0 40px;}
.course-content ul.topics li.section .left {float:left;}
.course-content ul.topics li.section .right {float:right;}
.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {width:40px;text-align:center;padding: 6px 0;}
.course-content ul.topics li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.topics li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }


#page-course-view-stanford {
	margin: 0;
	padding: 0;
	min-height:100%;
	position:relative;
}

ul.stanford_course_list li.section{
	list-style: none;
}

#page-course-view-stanford #region-pre.block-region-none {
	display: none;
}

#page-course-view-stanford .site-topic ul.section, 
#page-course-view-stanford .course-content ul.section {
	margin:0;
}

#page-course-view-stanford #page-content {
	overflow: visible;
}
#page-course-view-stanford h3.sectionname {
	display:inline-block;
	font-size:1.4em;
	color:#8c1515;
	width:auto;
	margin-bottom:.5em;
	margin-right:20px;
}
#page-course-view-stanford .course-content ul.stanford_course_list li#section-0.section h3.sectionname {
	height:0;
	margin:0;
	padding:0;
	display:none;
}
#page-course-view-stanford .site-topic ul.section, .course-content ul.section {
	margin:0;
}
#page-course-view-stanford .left {
	width:0;
}
#page-course-view-stanford .right {
	width:0;
}

#page-course-view-stanford .editing .activity {
	width: 320px;
	margin: 0 auto!important;
	overflow: visible;	
}

#page-course-view-stanford.editing .activity ul.menubar {
	display: none;
}

#page-course-view-stanford.editing .activity .moodle-actionmenu[data-enhance] ul.menu {
	display: block;
	margin: 47px 154px -25px -166px;
}
#page-course-view-stanford.editing .activity .moodle-actionmenu[data-enhance] ul.menu li .menu-action-text {
	display:none;
}

#page-course-view-stanford.editing .section .activity .editing_move {
    top: 45px;
	left: -50px;
}


#page-course-view-stanford #addition_header_custom {
	position: absolute;
	margin: 0 15px;
	z-index: 1;
	top: 7px;
}
body {
	margin: 0;
	padding: 0;
}

header.clearfix h1 {
	display: none;
}

#page-course-view-stanford {
	min-height:100%;
	position:relative;
}

#page-course-view-stanford .site-topic ul.section, 
#page-course-view-stanford .course-content ul.section {
	margin:0;
}

#page-course-view-stanford h3.sectionname {
	display:inline-block;
	font-size:1.4em;
	color:#8c1515;
	width:auto;
	margin-bottom:.5em;
	margin-right:20px;
}
#page-course-view-stanford .course-content ul.stanford_course_list li#section-0.section h3.sectionname {
	height:0;
	margin:0;
	padding:0;
	display:none;
}

#page-course-view-stanford .left {
	width:0;
}
#page-course-view-stanford .right {
	width:0;
}

#page-course-view-stanford {
	min-height:100%;
	position:relative;
}

#page-course-view-stanford .course-content ul.stanford_course_list li.section .content .title_badge {
	display: inline-block;
	background-image: url([[pix:format_stanford|course-colorkey-squares]]);
	background-color: #FFF;
	background-repeat: no-repeat;
	height: 11px;
	width: 400px;
	padding-bottom: 0;
	margin: 0;
}


#page-course-view-stanford .site-topic ul.section, #page-course-view-stanford .course-content ul.section {
	background-image: url([[pix:format_stanford|course-page-content]]);
	background-color:transparent;
	background-repeat:repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#page-course-view-stanford .course-content ul.stanford_course_list li.section .content li.richmedia .richmedia_intr {
	background: #F8F8F5;
	margin-top: -13px;
	padding: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 7px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    1px 2px 7px rgba(50, 50, 50, 0.58);
	box-shadow:         1px 2px 7px rgba(50, 50, 50, 0.58);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbf9 24%, #f8f8f5 51%, #f6f5f0 75%, #f3f2ec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(24%,#fbfbf9), color-stop(51%,#f8f8f5), color-stop(75%,#f6f5f0), color-stop(100%,#f3f2ec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbf9 24%,#f8f8f5 51%,#f6f5f0 75%,#f3f2ec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbf9 24%,#f8f8f5 51%,#f6f5f0 75%,#f3f2ec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbf9 24%,#f8f8f5 51%,#f6f5f0 75%,#f3f2ec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbf9 24%,#f8f8f5 51%,#f6f5f0 75%,#f3f2ec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f2ec',GradientType=0 ); /* IE6-9 */
}

#page-course-view-stanford .course-content ul.stanford_course_list li.section .content li.richmedia .expand_richmedia_desc {
	position: absolute;
	z-index: 10;
	bottom: 8px;
	right: 38px;
	padding: 6px 0;
	width: 0;
	font-weight: bold;
	cursor: pointer;
}

#page-course-view-stanford .course-content ul.section .mod-indent-1 +div h4 {
	padding: 8px;
	background: #8C1515;
	color: #FFF;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	margin: 15px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}

#page-course-view-stanford .sitetopic .section li.activity:hover, 
#page-course-view-stanford .course-content .section li.activity:hover{
	background-color: rgba(0, 0, 0, 0);
}

#page-course-view-stanford .sitetopic .section li.activity, 
#page-course-view-stanford .course-content .section li.activity{
	padding: 0;
}

#page-course-view-stanford .activity.label {
	width: 100%;
	margin-left: 0!important;
}

#page-course-view-stanford .activity {
	width: 320px;
	margin: 0 auto!important;
	overflow: visible;
}

#page-course-view-stanford .activityinstance span {
	position: absolute;
	display: block;
	left: 50px;
	top: 0px;
	width: 250px;
	height: 15px;
	padding: 25px 10px 10px 10px;
	line-height: 15px;
	font-size: 14px;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #336699;
	background: url([[pix:format_stanford|course-node-gradient]]) repeat-x left top;
}

#page-course-view-stanford .instancename .accesshide, .activityinstance .dimmed_text .accesshide {
	position: absolute;
	left: 10px;
	top: 10px;
	height: auto;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	color: #8A887D;
	line-height: 1;
	background: none;
	margin: 0;
	padding: 0;
}

#page-course-view-stanford .activityinstance img.activityicon {
	display: none;
}

#page-course-view-stanford .img-text a:hover span {
	text-decoration: none;
}
#page-course-view-stanford .activityinstance a, .activityinstance div.dimmed_text {
	display: block;
	width: 320px;
	height: 50px;
	position: relative;
	overflow: hidden;
	margin: 0 0 0 0;
	background-image:url([[pix:format_stanford|scpd-moodle-module-icons]]);
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 4px rgba(86, 83, 71, 0.65);
	-moz-box-shadow:    1px 1px 4px rgba(86, 83, 71, 0.65);
	box-shadow:         1px 1px 4px rgba(86, 83, 71, 0.65);
}
#page-course-view-stanford a:link, a:visited {
	color: #369;
}

#page-course-view-stanford .resource .activityinstance a {
	background-position: 0 0;
}
#page-course-view-stanford .richmedia .activityinstance a {
background-position: 0 -55px;
}
#page-course-view-stanford .richmedia .activityinstance div.done, 
#page-course-view-stanford .richmedia .activityinstance a.done {
background-position: -55px -225px;
}

#page-course-view-stanford .richmedia .activityinstance div.dimmed_text, .richmedia .activityinstance a.dimmed {
	background-position: -110px -395px;
}
#page-course-view-stanford .resource .activityinstance a {
	background-position: 0 0;
}
#page-course-view-stanford .resource .activityinstance div.done, .resource .activityinstance a.done {
	background-position: -55px -170px;
}
#page-course-view-stanford .resource .activityinstance div.dimmed_text, .resource .activityinstance a.dimmed {
	background-position: -110px -340px;
}
#page-course-view-stanford .quiz .activityinstance a, .url .activityinstance a {
	background-position: 0 -110px;
}
#page-course-view-stanford .url.final .activityinstance a {
	background-position: 0 -1200px;
}

#page-course-view-stanford .url .activityinstance a {
	background-position: 0 -1200px;	
}

#page-course-view-stanford .course-content .section li.activity, 
#page-course-view-stanford .sitetopic .section .activity .activityinstance, 
#page-course-view-stanford .course-content .section .activity .activityinstance{
	padding: 0;
}
#page-course-view-stanford .sitetopic .section .activity .activityinstance, 
#page-course-view-stanford .course-content .section .activity .activityinstance, 
#page-course-view-stanford .sitetopic .section .activity .activityinstance div, 
#page-course-view-stanford .course-content .section .activity .activityinstance div {
	display: block;
}
#page-course-view-stanford .mod-indent + div .activityinstance {
	background: url([[pix:format_stanford|course-node-connector-top]]) no-repeat center bottom;
	padding-bottom: 40px!important;

}
#page-course-view-stanford .mod-indent + div {
background: url([[pix:format_stanford|course-node-connector-bottom]]) no-repeat center top;
padding-top: 14px;
}

#page-course-view-stanford .section .activity .mod-indent-outer {
	display: block;
	padding-left: 0;
}

#page-course-view-stanford .path-site li.activity>div, 
#page-course-view-stanford .path-course-view li.activity>div {
	position: relative;
	padding: 0 16px 0 0;
}

#page-course-view-stanford li.firstchild .mod-indent +div {
	padding-top: 0;
	background: none;
}

#page-course-view-stanford .mod-indent-1 +div, 
#page-course-view-stanford .mod-indent-2 +div, 
#page-course-view-stanford .mod-indent-3 +div {
	margin-left: 0;
}

/* additional indent level */
#page-course-view-stanford li.resourcefirstchild .mod-indent.mod-indent-3 + div,
#page-course-view-stanford li.resource .mod-indent.mod-indent-3 + div {
	background: url([[pix:format_stanford|course-mod-indent-3]]) no-repeat center top;
	padding-left: 184px;
	padding-top: 0;
}

#page-course-view-stanford li.resourcefirstchild .mod-indent-3 + div .activityinstance {
	padding-bottom: 0!important;
	background: none;	
	height: 50px;
}


/*activity icons*/
#page-course-view-stanford .activityinstance img.iconlarge {
	display:none;
}
#page-course-view-stanford .activityinstance img.activityicon {
	display:none;
}
#page-course-view-stanford .mod-indent-3 .activityinstance {
	padding-bottom: 0!important;
	background: none;
}
#page-course-view-stanford .activityinstance a, .activityinstance div.dimmed_text {
	display: block;
	width: 320px;
	height: 50px;
	position: relative;
	overflow: hidden;
	margin: 0 0 0 0;
	background-image:url([[pix:format_stanford|scpd-moodle-module-icons]]);
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 4px rgba(86, 83, 71, 0.65);
	-moz-box-shadow:    1px 1px 4px rgba(86, 83, 71, 0.65);
	box-shadow:         1px 1px 4px rgba(86, 83, 71, 0.65);
}

/*******COURSE PAGES RESET + WEBINARS*******/

#page-course-view-stanford #block-region-side-post {
	display:none;
}

#page-course-view-stanford .stanford_course_list {
	list-style: none;
	margin: 0;
}

#page-course-view-stanford #page-content {
	overflow-x:hidden;
	overflow-y:visible;
	margin-top: 0;
}
#page-course-view-stanford #page-content #region-main-box {
	left: 0px;
}
#page-course-view-stanford #page-content #region-main {
	margin-left: 0;
	padding-left: 10px;
	margin-right: 0;
	padding-right: 20px;
}
#page-course-view-stanford #page-content #region-main .region-content {
	padding-right:0;
	margin-top:0;
	overflow-visible;
}

#page-course-view-stanford #region-sidebar {
	width:22%;
	position:relative; 
	float:left;
	margin-top:25px;
}

#page-course-view-stanford form.togglecompletion, 
#page-course-view-stanford .availabilityinfo {
	display:none;
}

#page-course-view-stanford  #page-content #region-main {
	margin-left: 0;
}
#page-course-view-stanford #page-content .stanford_course_list {
	float: right;
	width: 75%;
	margin-left: -5em;
	overflow: visible;
}

/* BLOCK ELEMENTS */
#page-course-view-stanford #page-content #region-pre{
	left: 12px;
	width: 220px;
}
#page-course-view-stanford #region-pre .block {
	border: none;
	margin-bottom:1.5em;
}
#page-course-view-stanford #region-pre .block .content {
	background-color: #fff;
	border:none;
}
#page-course-view-stanford #region-pre .block .content,
#page-course-view-stanford #region-pre .block.block_html .content .no-overflow {
	padding: 0px;
}


#page-course-view-stanford #page-content #region-post-box {
	margin-left: 0px;
}
#page-course-view-stanford #page-content #region-post-box .hidebar {display:none;}
#page-course-view-stanford .course-content .section li.activity, #page-course-view-stanford .sitetopic .section .activity .activityinstance, #page-course-view-stanford .course-content .section .activity .activityinstance {
	padding:0;
}
#page-course-view-stanford .sitetopic .section li.activity, #page-course-view-stanford .course-content .section li.activity {
	padding: 0;
}
.path-course-view .weeks .content, .path-course-view .stanford_course_list .content, .path-course-view .weeks .section, .path-course-view .stanford_course_list .section {
	background-color:transparent;
}
#page-course-view-stanford .sitetopic .section li.activity:hover, #page-course-view-stanford .course-content .section li.activity:hover {
	background-color:transparent;
}
#page-course-view-stanford .path-course-view li.activity span.autocompletion img, #page-course-view-stanford .path-course-view li.activity form.togglecompletion input {
	display:none;
}
#page-course-view-stanford .sitetopic .section .activity .activityinstance, #page-course-view-stanford .course-content .section .activity .activityinstance, #page-course-view-stanford .sitetopic .section .activity .activityinstance div, #page-course-view-stanford .course-content .section .activity .activityinstance div {
	display:block;
}
#page-course-view-stanford .site-topic ul.section, #page-course-view-stanford .course-content ul.section {
	margin:0;
}
#page-course-view-stanford #region-main h2 {
	font-size:1.6em;
	color:#8c1515;
	text-align:left!important;
	background-color: #fff;
	background-image: none;
	background-repeat: none;
	padding:0;
	margin: 0 0 .75em 0;
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#page-course-view-stanford .course-content .section li.activity.modtype_label {
	margin-bottom:1em;
}
#page-course-view-stanford .mod-indent-1, #page-course-view-stanford .mod-indent-2, #page-course-view-stanford .mod-indent-3 {
	margin-left:0;
}

#page-navbar.clearfix {
	display: block;
	border-bottom: 1px dotted #D5D0C0;
	margin: 0;
	padding: 0;
}

#page-course-view-stanford .course-content ul.stanford_course_list li.section .content li.richmedia .richmedia_intr {
	display: none;
}
#page-course-view-stanford .course-content ul.stanford_course_list li.section .content li.richmedia .expand_richmedia_desc {
	position: absolute;
	z-index: 10;
	bottom: 8px;
	right: 38px;
	padding: 6px 0;
	width: 0;
	font-weight: bold;
	cursor: pointer;
}

#page-course-view-stanford .course-content ul.stanford_course_list li.section .content .summary {
	display:inline-block;
	background-color:#fff;
	padding-bottom:0;
	margin:0;
}

#page-course-view-stanford .course-content ul.stanford_course_list li.section .content .summary:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#page-course-view-stanford .course-content ul.stanford_course_list li#section-0.section .content .summary {
	float:inherit;
	background-image: none;
	background-color:#fff;
	height:auto;
	width:auto;
	padding-bottom:0;
	margin-top:15px;	
}
/* Question for activity */
@media screen and (min-width: 860px) and (max-width: 969px) {
#page-course-view-stanford  .activity {
 margin: 0 0 0 100px!important;
}
}
@media screen and (min-width: 769px) and (max-width: 859px) {
#page-course-view-stanford  .activity {
 margin: 0 0 0 50px!important;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
#page-course-view-stanford .activity {
 margin: 0 0 0 20px!important;
}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	#page-course-view-stanford .activity {
		margin: 0 0 0 20px!important;
	}
}
#page-course-view-stanford form.togglecompletion, .availabilityinfo {
	display: none;
}

/* remove the initial connector bottom edge from first node*/
#page-course-view-stanford li.firstchild .mod-indent + div {
	padding-top: 0;
	background: none;
}
/* remove the trailing half-line from last node*/
#page-course-view-stanford li.lastchild .activityinstance {
	background: none;
	padding-bottom: 5px;
}

#page-course-view-stanford li.forumfirstchild .mod-indent + div {
	background: none;
}

#page-course-view-stanford li.resourcefirstchild .mod-indent + div {
	background: none;
}

#page-course-view-stanford li.label .mod-indent.mod-indent-1 + div{
	background-image: none!important;
	padding-top: 0;
}


/*left nav*/
#page-course-view-stanford #region-sidebar #showallitems {
	margin-bottom: 6px;
	font-weight:600;
}
#page-course-view-stanford #region-sidebar ul {
	margin:0;
	padding:0;
	border-bottom: 1px dotted #D5D0C0;
	list-style: none;
	border-collapse:collapse;
}
#page-course-view-stanford #region-sidebar ul li {
	border-top: 1px dotted #D5D0C0;
	padding:6px 0 6px 16px;
	background:url([[pix:format_stanford|scpd-moodle-course-status-icons]]) no-repeat -490px -114px;
}
#page-course-view-stanford #region-sidebar ul li.downward {
	background-position:-121px -156px;
	/*background-color:#F2F1EB;*/
}
#page-course-view-stanford #region-sidebar ul li.downward a{
	color:#8c1515
}
#page-course-view-stanford #region-sidebar ul li ul {
	margin-top:6px;
	border-bottom:none;
}
#page-course-view-stanford #region-sidebar ul li ul li {
	border-top: 1px dotted #D5D0C0;
	background:none;
	padding:6px 0;
}
#page-course-view-stanford #region-sidebar ul li ul li ul li, #page-course-view-stanford #region-sidebar ul li ul li ul {
	border: none;
	padding:6px 0;
}
#page-course-view-stanford #region-sidebar ul li, #region-sidebar ul li ul {
	padding-top:6px;
}
#page-course-view-stanford #region-sidebar ul li a {
	font-weight:600;
	color: #369;
	line-height:1.1;
	padding-bottom:6px;
}
#page-course-view-stanford #region-sidebar li a h4 {
	font-weight:400;
	color: #369;
	line-height:1.1;
	margin:0;
	text-align: left;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar {
	list-style:none;
	margin-top:0;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar li {
	width:11px;
	height:8px;
	background-image:url([[pix:format_stanford|scpd-moodle-course-status-icons]]);
	background-repeat: no-repeat;
	padding:0;
	margin-right:3px;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar li{
	background-position: -42px -250px;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar li.done {
	background-position: 0 -209px;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar li.restricted {
	background-position: -85px -292px;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar li.file {
	background-position: 0 -334px;
}
#page-course-view-stanford #region-sidebar ul li ul li ul.progressBar li.file.restricted {
	background-position: -85px -292px;
}
#showallitems {
	margin-left: 9px;
}
#showallitems ul {
	list-style: none;
	margin-left: 0;
}
#showallitems ul li {
	float: left;
	margin-right: 10px;
}


/* STANFORD:; TA Feedback - Zhao*/
#ta_feedback_menu #ta_feedback_dropdown {
	display: none;
	list-style: none;
	height: auto;
	background: #F2F1EB;
	position: absolute;
	right: -13px;
	top: 20px;
	z-index: 99;
	-moz-box-shadow: 3px 3px 4px #8A887D;
	-webkit-box-shadow: 3px 3px 4px #8A887D;
	box-shadow: 3px 3px 4px #8A887D;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8A887D');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8A887D');
}

#ta_feedback_menu {
	position: absolute;
	right: 1.3%;
	text-decoration: none;
	color: #8C1515;
	border: 1px solid #D5D0C0;
	border-bottom: none;
	background: #fff;
	width: 25px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 32px;
}

#ta_feedback_menu #ta_feedback_dropdown li.unread {
	border-top: 1px solid #8C1515;
	width: 15em;
	cursor: pointer;
	text-indent: 0;
	background: #eed3d7;
}

#ta_feedback_menu #ta_feedback_dropdown li {
	border-top: 1px solid #8C1515;
	width: 15em;
	cursor: pointer;
	text-indent: 0;
}
#ta_feedback_menu #ta_feedback_dropdown li:hover {
	background-color: #fff;
	cursor: pointer;
}
#ta_feedback_menu > #ta_feedback_dropdown.drop {
	display: block;
}
#ta_feedback_menu > #ta_feedback_dropdown  a{
	background-image:none;
	float: left;
	padding: 5px;
	cursor:pointer;
} 

#ta_feedback_menu > #ta_feedback_dropdown a span{
	display: inline-block;
	overflow: hidden;
	width: 15em;
	zoom: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #369;
}
#ta_feedback_menu > a{
	text-decoration: none;
	background: transparent url([[pix:format_stanford|scpd-moodle-ta-feedback-flag]]) no-repeat;	
	float: left;
	text-indent: 0;
	color: transparent; 
	margin: 3px;
	height: 30px;
}
#ta_feedback_menu.with > a{
	background: transparent url([[pix:format_stanford|scpd-moodle-ta-feeback-flag_blue]]) no-repeat;	
}
#ta_feedback_menu #feedback_number{
	text-indent: 0;
	position: absolute;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 10px;
	background: #336699;
	width: 66%;
	color: #fff;
	text-align: center;
	right: -8px;
	top: -10px;
}


/*****EDIT MODE*****/
#page-course-view-stanford.editing .course-content ul.stanford_course_list li.section .content .summary {
	background-image:none;
	width:auto;
	display:block;
	float:left;
}
#page-course-view-stanford.editing .commands {
	margin-left:10px;
	margin-top:3px;
}

/* Drop Down window */
#dropdownvideopage {
	position: fixed;
	top: 25px;
	left: 0;
	width: 93%;
	height: 71%;
	z-index: 9999;
	margin:0px 2% auto 3%;
	border: 4px solid #8A887D;
	border-top: 40px solid #8A887D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 6px 6px 10px #666;
	display: none;
}
#dropdownvideopage a.slideUpButton img{
	display:none;
}
#dropdownvideopage a.slideUpButton{
	position: relative;
	float:right;
	width:25px;
	height:25px;
	text-indent:-9999em;
	cursor: pointer;
	margin: -28px 5px 0 0;
	padding:0;
	background: url([[pix:format_stanford|popup-sprites]]) no-repeat -281px 0;
	
}
#dropdownvideopage span.videotitle {
	position: relative;
	float: left;
	margin: -28px 5px 0 16%;
	padding: 0;
	font-size: 1.2em;
	color: #fff;
	font-weight: 600;
}

#dropdownvideopage a#popuprichmedia {
	position: relative;
	float:right;
	width:25px;
	height:25px;
	text-indent:-9999em;
	cursor: pointer;
	margin: -28px 50px 0 0;
	padding:0;
	background: url("stanford/img/popup-sprites.png") no-repeat 0 0;	
}

#dropdownvideopage iframe{
	width:100%;
	height:100%;
}
#dropdownvideopage>div {
	height: 100%;
}